//NORMALIZE, GET DEFAULTS
@import "globals/_reset";
@import "globals/_variables";
@import "globals/_mixins";
@import "globals/_extends";
@import "globals/_z-index";
@import "globals/_defaults";

//PARTIALS
body { background-image:url('/img/hi.jpg'); background-repeat: repeat; background-position:center;  }
main { height: 100vh; @include flex-container(center);
  img.hello { max-width: 90vw; max-height: 90vh; margin: 0 auto; box-shadow:1vw 1vw 1vw rgba(0,0,0,0.6); }
}